---
title: TR Scroll Test
menu: true
body_class: tr-scroll-test
---
{% extends "layouts/base.twig" %}

{% block content %}

<h1>WTF is a calorie?</h1>

<form id="cal-form">
    <input id="cal-form__input" type="number" placeholder="number of calories">
    <label for="cal-form__input">calories in</label>

    <select name="select" id="food-select">
    </select>
    <br>
    <br>
    <input type="submit" value="Wtf does that mean?">

</form>


<div>
  <h1>
    <span id="food-count__number"></span>
    <span id="food-count__unit"></span>
  </h1>
</div>


{% endblock %}
