---
title: TR Phone Test
menu: true
body_class: phone-test
---
{% extends "layouts/base.twig" %}

{% block content %}
<section class="section-block section-block--white"></section>
<section class="section-block section-block--black">
  <div class="section__width">

    <div id="trigger1"></div>
    <div class="clip">
      <div class="phone__group">
        <div class="phone__mod phone__mod--1">
          <div class="phone phone--1">
            <div class="phone__inner">
              <img class="iphone__inner__image" src="/static/img/phone-screen.png" alt="">
            </div>
          </div>
        </div>
        <div class="phone__mod phone__mod--3">
          <div class="phone">
            <div class="phone__inner">
              <img class="iphone__inner__image phone__inner-bottom" src="/static/img/phone-screen-2.png" alt="">
            </div>
          </div>
        </div>
        <div class="phone__mod phone__mod--4">
          <div class="phone">
            <div class="phone__inner">
              <img class="iphone__inner__image phone__inner-bottom" src="/static/img/phone-screen-3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-mod">
      <h6>Content Strategy</h6>
      <h3>Making the Technology Review  a daily destination</h3>
      <p>Somthing abou thow there used to be a perception problem. Magazine first to digital first. Daily news letter and . Suspendisse potenti. Sed auctor dui et justo pellentesque, non fermentum sapien mattis. Nunc eu nibh nunc. Pellentesque sed porta magna. </p>
    </div>
  </div>

</section>
<section class="section-block section-block--white">
  <div class="trigger-mod">
    <div class="inbox-trigger" id="trigger2"></div>
    <div class="inbox-trigger" id="trigger3"></div>
    <div class="inbox-trigger" id="trigger4"></div>
  </div>

<div class="clip">
  <div class="phone__mod phone__mod--2">
    <div class="phone">
      <div class="phone__inner">
        <img class="iphone__inner__image--2" src="/static/img/inbox-group.png" alt="">
      </div>
    </div>
  </div>
<div class="text-mod">
  <h3>On the site <br>&amp; in your inbox</h3>
  <p>We wanted the Tech Review team to treat The Daily like it’s own product. Meeting the primary audience — C level exectutives — in their inbox was as important as a prominant place on the homepage and custom article sets.</p>
</div>
</div>
</section>
<section class="section-block section-block--white"></section>

{% endblock %}
