---
title: target test
menu: true
---
{% extends "layouts/base.twig" %}

{% block content %}

<!-- <a class="target-link" href="#target-1">target-1</a> -->
<!-- <a class="target-link" href="#target-2">target-2</a> -->
<!-- <a class="target-link" href="#target-3">target-3</a> -->
<!-- <a class="target-link" href="#target-4">target-4</a> -->
<!-- <a class="target-link" href="#target-5">target-5</a> -->
<!-- <a class="target-link" href="#target-6">target-6</a> -->
<!-- <a class="target-link" href="#target-7">target-7</a> -->

<div class="target-list">
  <a class="target-item" href="#target-1" id="target-1">Target 1</a>
  <a class="target-item" href="#target-2" id="target-2">Target 2</a>
  <a class="target-item" href="#target-3" id="target-3">Target 3</a>
  <a class="target-item" href="#target-4" id="target-4">Target 4</a>
  <a class="target-item" href="#target-5" id="target-5">Target 5</a>
  <a class="target-item" href="#target-6" id="target-6">Target 6</a>
  <a class="target-item" href="#target-7" id="target-7">Target 7</a>
</div>

{% endblock %}
